<div class="chess_list my-4">
  <div class="chess_width">
    <div *ngIf="!place" class="d-flex justify-content-evenly align-items-center mb-4">
      <div class="d-flex align-items-center ">
        <label class="me-2 label_size">X:</label>
        <input type="number" class="form-control py-0 p-0 input_width" [(ngModel)]="x" min="0" max="7">
      </div>
      <div class="d-flex align-items-center ">
        <label class="me-2 label_size">Y:</label>
        <input type="number" class="form-control py-0 p-0 input_width" [(ngModel)]="y" min="0" max="7">
      </div>
      <div class="d-flex align-items-center ">
        <label class="me-2 label_size">Direction:</label>
        <select [(ngModel)]="direction" class="form-control py-0">
          <option value="NORTH">NORTH</option>
          <option value="SOUTH" [disabled]="y <= 0">SOUTH</option>
          <option value="EAST" [disabled]="x >= 7">EAST</option>
          <option value="WEST" [disabled]="x <= 0">WEST</option>
        </select>
      </div>
      <label class="label_size">Color:</label>
      <div class="d-flex align-items-center ">
        <input type="radio" value="White" [(ngModel)]="color" name="color" class="me-1">
        <label class="label_size">White</label>
      </div>
      <div class="d-flex align-items-center ">
        <input type="radio" value="Black" [(ngModel)]="color" name="color" class="me-1">
        <label class="label_size">Black</label>
      </div>
      <button (click)="placeRobot()" class="btn btn-primary py-0 label_size">PLACE</button>
    </div>

    <div *ngIf="place" class="d-flex justify-content-evenly align-items-center mb-4">
      <button class="button_size py-0 btn btn-dark label_size" (click)="leftButton()">LEFT</button>
      <button class="button_size py-0 btn btn-success label_size" (click)="movePawn()">{{firstMove?'MOVE 1':'MOVE'}}</button>
      <button class="button_size py-0 btn btn-success label_size" *ngIf="firstMove" (click)="moveTwo()">MOVE 2</button>
      <button class="button_size py-0 btn btn-dark label_size" (click)="rightButton()">RIGHT</button>
      <button class="button_size py-0 btn btn-info label_size" (click)="onReport()">REPORT</button>
      <button class="button_size py-0 btn btn-primary label_size" (click)="placePiece()">PLACE</button>
    </div>

    <div class="chessboard">
      <div *ngFor="let row of boardChess; let rowIndex = index" class="row">
        <div *ngFor="let square of row; let colIndex = index" class="square" [ngClass]="{
         'black': (rowIndex + colIndex) % 2 === 1,
         'white': (rowIndex + colIndex) % 2 === 0}">
          <span>{{ square }}</span>
          <div>
            <div *ngFor="let row of board; let i = index">
              <div *ngFor="let cell of row; let j = index">
                <i [class]="cell"></i>
              </div>
            </div>
            <img *ngIf="board[rowIndex][colIndex]" [src]="board[rowIndex][colIndex]"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
